.promo {
    min-height: 100vh;
    background: url('../img/main-bg2.jpg') no-repeat 50%/cover;
    padding-top: 50px;
    &__btns {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }
    &__link {
        color: black;
        font-weight: bold;
        font-size: 14px;
        line-height: 45px;
        text-decoration: none;
    }
}

.hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #151812;
    }
    span.long {
        width: 36px;
    }
}