.resume {
    padding-top: 120px;
    &__wrapper {
        padding-top: 60px;
        display: grid;
        justify-content: space-around;
        grid-template-columns: 425px 425px;
    }
    &__line {
        padding-left: 43px;
        padding-top: 45px;
        border-left: 1px solid #000000;
    }
    &__item {
        &_mt45 {
            margin-top: 45px;
        }
        &-head {
            display: flex;
        }
    }
    &__icon {
        margin-right: 20px;
        &:after {
            content: '';
            position: absolute;
            top: 10px;
            left: -44px;
            width: 42px;
            height: 1px;
            background-color: #000;
        }
    }
}